In [15]:
import numpy as np
import pandas as pd
import sqlite3

In [16]:
emperors = np.load('../Data/Emperors.npy').item()

In [17]:
df = pd.DataFrame(columns=['emperor', 'start', 'end'])
for emperor, years in emperors.iteritems():
    df = df.append({'emperor': emperor, 
                'start': int(years[0]), 
                'end': int(years[1])}, 
             ignore_index=True)

In [18]:
df

                  emperor  start    end
0                Galerius  305.0  311.0
1                    Geta  209.0  211.0
2                  Avitus  455.0  456.0
3                Aurelian  270.0  275.0
4                 Hadrian  117.0  138.0
5                Olybrius  472.0  472.0
6                 Marcian  450.0  457.0
7                  Jovian  363.0  364.0
8               Florianus  276.0  276.0
9                   Carus  282.0  283.0
10        Didius Julianus  193.0  193.0
11        Philip the Arab  244.0  249.0
12                   Otho   69.0   69.0
13            Gordian III  238.0  244.0
14                  Titus   79.0   81.0
15              Anthemius  467.0  472.0
16        Marcus Aurelius  161.0  180.0
17             Constans I  337.0  350.0
18               Maximian  286.0  305.0
19               Claudius   41.0   54.0
20               Numerian  283.0  284.0
21                Tacitus  275.0  276.0
22         Antoninus Pius  138.0  161.0
23               Augustus  -27.0   14.0
24             Diocletian  284.0  305.0
25              Vespasian   69.0   79.0
26               Caligula   37.0   41.0
27           Maximinus II  311.0  313.0
28             Licinius I  308.0  324.0
29             Gordian II  238.0  238.0
..                    ...    ...    ...
56                 Probus  276.0  282.0
57               Macrinus  217.0  218.0
58        Maximinus Thrax  235.0  238.0
59             Severus II  306.0  307.0
60              Glycerius  473.0  474.0
61              Gallienus  253.0  268.0
62                  Galba   68.0   69.0
63           Julius Nepos  474.0  475.0
64     Romulus Augustulus  475.0  476.0
65               Honorius  393.0  423.0
66              Caracalla  198.0  217.0
67        Constantine III  409.0  411.0
68          Constantius I  305.0  306.0
69         Magnus Maximus  384.0  388.0
70  Constantine the Great  306.0  337.0
71      Claudius Gothicus  268.0  270.0
72          Theodosius II  402.0  450.0
73               Valerian  253.0  260.0
74               Majorian  457.0  461.0
75               Pertinax  193.0  193.0
76                Carinus  283.0  285.0
77        Valentinian III  424.0  455.0
78              Maxentius  306.0  312.0
79               Tiberius   14.0   37.0
80             Aemilianus  253.0  253.0
81         Valentinian II  375.0  392.0
82                Joannes  423.0  425.0
83         Constantius II  337.0  361.0
84               Pupienus  238.0  238.0
85                   Nero   54.0   68.0

[86 rows x 3 columns]

In [19]:
conn = sqlite3.connect('../Data/Roman_Imperial_Coinage.sqlite')
cur = conn.cursor()

In [20]:
cur.execute('''Create TABLE emperors(emperor TEXT, start INTEGER, end INTEGER)''')
cur.executemany("""INSERT INTO emperors(emperor, start, end) VALUES(?,?,?)""", 
                list(df.to_records(index=False)))

In [21]:
conn.commit()